build/
bin/
.gradle/
**/.DS_Store
.classpath
.project
log.txt
articles/aosd_2014/data/type_usage/
articles/aosd_2014/data/metadata/
aosd_2014.aux
aosd_2014.log
aosd_2014.synctex.gz
bkp.data/

bin/carlosgsouza/groovonomics/.gradle/1.2/taskArtifacts/cache.properties
