**/build/
**/bin/
**/.gradle/
**/.DS_Store
**/~\$*.xlsx
**/.classpath
**/.project
**/*.aux
**/*.log
**/*.synctex.gz
**/cache.properties
**/.settings/
**/.DS_Store
**/*(Autosaved).R
aosd_2014/analysis/data/
**/*.lof
**/*.lot
**/*.out
**/*.toc
**/*(busy)